.App {
	min-height: 100vh;
	background-color: black;
	color:white;
}

.text {
	color : black;
}

.Navbar {
	/*display: flex;*/
	justify-content: space-around;
	align-items: center;
	min-height: 11vh;
	background: rgb(73, 79, 82);
	color: white;
}

.nav-links {
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}